* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e0f3f8;
    margin-top: 50px;
    overflow: hidden;
}

.main-heading {
    color: brown;
    font-size: 37px;
    text-transform: capitalize;
    margin-top: 50px;
}

.card1 {
    background-color: white;
    width: 45%;
    height: 62px;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}

.plus {
    border: 1px solid brown;
    color: brown;
    font-size: 22px;
    font-weight: 900;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    /* display: none; */
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    color: brown;
    font-size: 26px;
    font-weight: 900;
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 2px;
display: none;
}

.para {
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #413636;
    text-transform: capitalize;
}

.box2 {
    background-color: white;
    width: 45%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.para2 {
    width: 95%;
    color: #413636;
}

.border {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    .card1, .box2 {
        width: 60vw;
    }
}

@media only screen and (max-width: 750px) and (min-width: 560px) {
    .card1, .box2 {
        width: 80vw;
    }
}

@media only screen and (max-width: 560px) and (min-width: 450px) {

    .para {
        font-size: 14px;
    }
    .card1, .box2 {
        width: 80vw;
    }
}

@media only screen and (max-width: 450px) and (min-width: 300px) {
    .para {
        font-size: 12px;
    }

    .card1, .box2 {
        width: 80vw;
    }
}